@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
    main {
        background-color: #1f2937;
    }

    /* Navbar section */
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 22px 150px 0 150px;
    }

    .logo {
        font-size: 24px;
        font-weight: 700;
        color: #f9faf8;
    }

    ul {
        display: flex;
        gap: 26px;
        list-style: none;
    }

    li a {
        text-decoration: none;
        font-size: 18px;
        color: #e5e7eb;
    }

    /* Hero section */
    .hero {
        display: flex;
        padding: 150px 150px;
    }

    .hero-title {
        font-size: 48px;
        font-weight: 900;
        color: #f9faf8;
        line-height: 48px;
        margin-bottom: 14px;
    }

    .hero-para {
        font-size: 18px;
        color: #e5e7eb;
        margin-bottom: 16px;
    }

    .hero-btn {
        background-color: #3882f6;
        border: none;
        border-radius: 8px;
        padding: 8px 32px;
        color: #e5e7eb;
        font-size: 16px;
        font-weight: 700;
    }

    .right {
        width: 900px;
        height: 230px;
        color: #e5e7eb;
        background-color: rgb(72, 74, 99);
        margin-left: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Information Section */

    .info {
        padding: 50px 0;
    }

    .info-heading {
        font-size: 36px;
        font-weight: 900;
        color: #1f2937;
        text-align: center;
        margin-bottom: 50px;
    }

    .info-cards-container {
        display: flex;
        justify-content: center;
        gap: 40px;
        width: 100%;
    }

    .info-card {
        width: 140px;
    }

    .info-img {
        width: inherit;
        height: 140px;
        border: 2px solid #3882f6;
        border-radius: 10px;
        margin-bottom: 8px;
    }

    .info-para {
        text-align: center;
        color: #757679;
        font-size: 15px;
    }